
LOCATE COMP "clk_i" SITE "P3";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP "rst_i" SITE "B2";
IOBUF PORT "rst_i" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "clk_start_stop_i" SITE "E19";
IOBUF PORT "clk_start_stop_i" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "clk_step_i" SITE "K4";
IOBUF PORT "clk_step_i" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "clk_speed_i" SITE "B3";
IOBUF PORT "clk_speed_i" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "led0" SITE "M17";
IOBUF PORT "led0" IO_TYPE=LVCMOS33;

LOCATE COMP "led1" SITE "P17";
IOBUF PORT "led1" IO_TYPE=LVCMOS33;

LOCATE COMP "led2" SITE "R17";
IOBUF PORT "led2" IO_TYPE=LVCMOS33;

LOCATE COMP "led3" SITE "R18";
IOBUF PORT "led3" IO_TYPE=LVCMOS33;

LOCATE COMP "led4" SITE "T18";
IOBUF PORT "led4" IO_TYPE=LVCMOS33;

LOCATE COMP "led5" SITE "C18";
IOBUF PORT "led5" IO_TYPE=LVCMOS33;

LOCATE COMP "led6" SITE "K18";
IOBUF PORT "led6" IO_TYPE=LVCMOS33;

LOCATE COMP "led7" SITE "U16";
IOBUF PORT "led7" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[0]" SITE "H3";
IOBUF PORT "l4[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[1]" SITE "H4";
IOBUF PORT "l4[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[2]" SITE "F3";
IOBUF PORT "l4[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[3]" SITE "G3";
IOBUF PORT "l4[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[4]" SITE "E4";
IOBUF PORT "l4[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[5]" SITE "F1";
IOBUF PORT "l4[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[6]" SITE "E1";
IOBUF PORT "l4[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[7]" SITE "F2";
IOBUF PORT "l4[7]" IO_TYPE=LVCMOS33;

