
LOCATE COMP "clk_i" SITE "P3";
IOBUF PORT "clk_i" IO_TYPE=LVCMOS33;
FREQUENCY PORT "clk_i" 25 MHZ;

LOCATE COMP "rst_i" SITE "B2";
IOBUF PORT "rst_i" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "clk_start_stop_i" SITE "E19";
IOBUF PORT "clk_start_stop_i" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "clk_step_i" SITE "K4";
IOBUF PORT "clk_step_i" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "clk_speed_i" SITE "B3";
IOBUF PORT "clk_speed_i" IO_TYPE=LVCMOS33 PULLMODE=DOWN;

LOCATE COMP "l0[0]" SITE "M17";
IOBUF PORT "l0[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "l0[1]" SITE "P17";
IOBUF PORT "l0[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "l0[2]" SITE "R17";
IOBUF PORT "l0[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "l0[3]" SITE "R18";
IOBUF PORT "l0[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "l0[4]" SITE "T18";
IOBUF PORT "l0[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "l0[5]" SITE "C18";
IOBUF PORT "l0[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "l0[6]" SITE "K18";
IOBUF PORT "l0[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "l0[7]" SITE "U16";
IOBUF PORT "l0[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "l1[0]" SITE "G20";
IOBUF PORT "l1[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "l1[1]" SITE "J20";
IOBUF PORT "l1[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "l1[2]" SITE "K20";
IOBUF PORT "l1[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "l1[3]" SITE "L18";
IOBUF PORT "l1[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "l1[4]" SITE "L20";
IOBUF PORT "l1[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "l1[5]" SITE "M18";
IOBUF PORT "l1[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "l1[6]" SITE "N18";
IOBUF PORT "l1[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "l1[7]" SITE "N17";
IOBUF PORT "l1[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "l2[0]" SITE "A18";
IOBUF PORT "l2[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "l2[1]" SITE "C17";
IOBUF PORT "l2[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "l2[2]" SITE "A19";
IOBUF PORT "l2[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "l2[3]" SITE "B18";
IOBUF PORT "l2[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "l2[4]" SITE "B19";
IOBUF PORT "l2[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "l2[5]" SITE "B20";
IOBUF PORT "l2[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "l2[6]" SITE "D20";
IOBUF PORT "l2[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "l2[7]" SITE "F20";
IOBUF PORT "l2[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "l3[0]" SITE "E2";
IOBUF PORT "l3[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "l3[1]" SITE "D1";
IOBUF PORT "l3[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "l3[2]" SITE "D2";
IOBUF PORT "l3[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "l3[3]" SITE "C1";
IOBUF PORT "l3[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "l3[4]" SITE "B1";
IOBUF PORT "l3[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "l3[5]" SITE "C2";
IOBUF PORT "l3[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "l3[6]" SITE "A3";
IOBUF PORT "l3[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "l3[7]" SITE "E3";
IOBUF PORT "l3[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[0]" SITE "H3";
IOBUF PORT "l4[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[1]" SITE "H4";
IOBUF PORT "l4[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[2]" SITE "F3";
IOBUF PORT "l4[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[3]" SITE "G3";
IOBUF PORT "l4[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[4]" SITE "E4";
IOBUF PORT "l4[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[5]" SITE "F1";
IOBUF PORT "l4[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[6]" SITE "E1";
IOBUF PORT "l4[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "l4[7]" SITE "F2";
IOBUF PORT "l4[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "l6[0]" SITE "E5";
IOBUF PORT "l6[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "l6[1]" SITE "F4";
IOBUF PORT "l6[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "l6[2]" SITE "F5";
IOBUF PORT "l6[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "l6[3]" SITE "E6";
IOBUF PORT "l6[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "l6[4]" SITE "G5";
IOBUF PORT "l6[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "l6[5]" SITE "D16";
IOBUF PORT "l6[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "l6[6]" SITE "D18";
IOBUF PORT "l6[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "l6[7]" SITE "D17";
IOBUF PORT "l6[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "l7[0]" SITE "G16";
IOBUF PORT "l7[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "l7[1]" SITE "E18";
IOBUF PORT "l7[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "l7[2]" SITE "H16";
IOBUF PORT "l7[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "l7[3]" SITE "F18";
IOBUF PORT "l7[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "l7[4]" SITE "H17";
IOBUF PORT "l7[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "l7[5]" SITE "G18";
IOBUF PORT "l7[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "l7[6]" SITE "J17";
IOBUF PORT "l7[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "l7[7]" SITE "H18";
IOBUF PORT "l7[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "l8[0]" SITE "J16";
IOBUF PORT "l8[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "l8[1]" SITE "J18";
IOBUF PORT "l8[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "l8[2]" SITE "L5";
IOBUF PORT "l8[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "l8[3]" SITE "P16";
IOBUF PORT "l8[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "l8[4]" SITE "M4";
IOBUF PORT "l8[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "l8[5]" SITE "L4";
IOBUF PORT "l8[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "l8[6]" SITE "R3";
IOBUF PORT "l8[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "l8[7]" SITE "N4";
IOBUF PORT "l8[7]" IO_TYPE=LVCMOS33;

LOCATE COMP "l9[0]" SITE "M1";
IOBUF PORT "l9[0]" IO_TYPE=LVCMOS33;

LOCATE COMP "l9[1]" SITE "N2";
IOBUF PORT "l9[1]" IO_TYPE=LVCMOS33;

LOCATE COMP "l9[2]" SITE "W1";
IOBUF PORT "l9[2]" IO_TYPE=LVCMOS33;

LOCATE COMP "l9[3]" SITE "V1";
IOBUF PORT "l9[3]" IO_TYPE=LVCMOS33;

LOCATE COMP "l9[4]" SITE "U1";
IOBUF PORT "l9[4]" IO_TYPE=LVCMOS33;

LOCATE COMP "l9[5]" SITE "Y2";
IOBUF PORT "l9[5]" IO_TYPE=LVCMOS33;

LOCATE COMP "l9[6]" SITE "R1";
IOBUF PORT "l9[6]" IO_TYPE=LVCMOS33;

LOCATE COMP "l9[7]" SITE "T1";
IOBUF PORT "l9[7]" IO_TYPE=LVCMOS33;
